body {
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    box-shadow: none;
    border-color: #6c757d;
}

.btn-primary {
    background-color: #0073b1; 
    border: none;
}

.btn-primary:hover {
    background-color: #005582;
}

.text-center p {
    margin-bottom: 0;
}

@media (max-width: 576px) {
    .col-md-6 {
        width: 100%;
    }
    .col-lg-4 {
        width: 100%;
    }
}
